-- Test if the functions exist
SELECT 
  proname as function_name,
  pg_get_function_identity_arguments(oid) as parameters
FROM pg_proc 
WHERE proname IN ('get_machine_id_by_pairing_code', 'create_pending_machine_link_kiosk', 'pair_machine_with_code')
  AND pg_function_is_visible(oid);
